@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-obsidian/css/preset.css";
@import "./theme.css";

@theme inline {
  --font-sans: var(--font-manrope);
  --font-serif: var(--font-source-serif);
  --font-mono: var(--font-jetbrains-mono);
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}
